<div class="jumbotron">
  <div class="container">{{{html}}}
    {{#if button-url~}}
    <a class="btn btn-primary btn-lg" href="{{{button-url}}}" role="button">{{button-text}}</a>
    {{/if}}
  </div>
</div>